---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
        <h1>Blog</h1>
        <h2>Here I will post my dev blogs!</h2>
        <p>It'll take some time to finish building my blog first!</p>
        <p>After that, some posts with Markdown will be uploaded.</p>
	</head>
	<body>
	</body>
</html>
