---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const title = "Blog";
const skills = ["js", "ts", "java", "spring", "c#", ".net", "rust"];
const featuredColor = "red";
const featuredWeight = 600;

const allPosts = await Astro.glob("./posts/*.md");
---
<BaseLayout pageTitle={title}>
  <h2>Here I will post my dev blogs!</h2>
  <p>It'll take some time to finish building my blog first!</p>
  <p>After that, some posts with Markdown will be uploaded.</p>
  <ul>
	{allPosts.map(
	  (post) => 
		<BlogPost 
		  url={post.url} 
		  title={post.frontmatter.title} />)}
  </ul>
  <h3>skills</h3>
  <ul class="skills-list">
	  {
		  skills.map((skill, idx) => (
			  <li class={idx === 1 ? "featured" : ""}>{skill}</li>
		  ))
	  }
  </ul>
</BaseLayout>

<style define:vars={{ featuredColor, featuredWeight }}>
  ul.skills-list {
	  list-style: none;
  }

  ul.skills-list li {
	  display: inline;
	  border: 1px solid black;
	  border-radius: 5px;
	  padding: 3px 10px;
	  margin: 3px;
  }

  ul.skills-list li.featured {
	  border: 2px solid var(--featuredColor);
	  color: var(--featuredColor);
	  font-weight: var(--featuredWeight);
  }
</style>

